@import "var";
@import "../../../bower_components/bourbon/app/assets/stylesheets/bourbon";

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}

;
body input:required:valid,
body textarea:required:valid {
  color: #666;
}

// Custom Style Here

.options {
  padding: 0;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    .option {
      display: inline-block;
      width: unquote((100 / $col-options-lg)+'%');
      text-align: center;
      padding: 80px 0;
      span {
        font-size: 100px;
      }
      p {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 45px;
        margin-bottom: 0;
      }
    }
  }
}

.option-animate {
  display: block;
}

section {
  padding: $section-padding 0;
  h1 {
    display: block;
    position: relative;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
    &:before, &:after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 80px;
      height: 1px;
    }
    &:before {
      bottom: 5px;
      left: calc(50% - 45px);
    }
    &:after {
      bottom: 0;
      left: calc(50% - 25px);
    }
  }
}

.features {
  .f-container {
    margin-top: 70px;
    .f-caption {
      h3 {
        font-size: 18px;
        font-weight: 700;
        .fa {
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
    .f-content {
      p {
        font-size: 14px;
      }
    }
  }
}

.about-company {
  position: relative;
  h1 {
    display: inline-block;
  }
  .devices {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
  }
  #a-tabs {
    .nav-tabs {
      list-style-type: none;
      margin: 65px 0 0 0;
      padding: 0;
      li {
        display: inline-block;
        text-transform: uppercase;
        line-height: 2.5;
        cursor: pointer;
        &+li{
          margin-left: 15px;
        }
      }
    }
    .tabs-content {
      margin-top: 60px;
      .tab-pane {
        font-size: 14px;
        min-height: 270px;
        &:nth-child(1), &:nth-child(2) {
          p:first-child {
            margin-top: 0;
          }
          p:last-child {
            margin-bottom: 0;
          }
        }
        &:nth-child(1) {
          ul {
            margin: 30px 0 0 0;
            padding: 0;
            i {
              vertical-align: middle;
            }
            li {
              list-style-type: none;
              &+li {
                margin-top: 10px;
              }
            }
          }
        }
        &:nth-child(3) {
          .a-graph {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
              overflow: hidden;
              &+li {
                margin-top: 15px;
              }
              &:nth-child(1) .bg {
                width: 70%;
              }
              &:nth-child(2) .bg {
                width: 80%;
              }
              &:nth-child(3) .bg {
                width: 65%;
              }
              &:nth-child(4) .bg {
                width: 90%;
              }
              &:nth-child(5) .bg {
                width: 80%;
              }
              > span {
                display: block;
                padding: 20px;
                position: relative;
                .bg {
                  position: absolute;
                  top: -1px;
                  bottom: -1px;
                  left: -1px;
                  width: 80%;
                }
                .text {
                  position: absolute;
                  top: 10px;
                  left: 10px;
                  bottom: 0;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
  }
}

.amazing-work {
  .w-nav-tabs {
    padding: 0;
    text-align: center;
    margin: 70px 0;
    font-size: 0;
    li {
      list-style-type: none;
      display: inline-block;
      font-size: 14px;
      padding: 18px 30px;
      font-weight: 500;
      cursor: pointer;
      &+li {
        border-left: none;
      }
      &.active {
        position: relative;
        &:before {
          position: absolute;
          content: '';
          left: -1px;
          top: -3px;
          width: calc(100% + 2px);
          height: 3px;
        }
      }
    }
  }
  #work-grid .mix{
    display: none;
  }
  .work-item {
    display: none;
    position: relative;
    padding: 0;
    .work-item-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
      text-align: center;

      @include transition(.2s opacity linear);
      &:hover {
        opacity: 1;
      }
      .work-icon {
        padding-bottom: 25px;
        .icon-circle {
          display: inline-block;
          padding: 12px 13px;
          border-radius: 50%;
          outline: none;
          text-decoration: none;
          &:last-child {
            margin-left: 5px;
          }
        }
      }
      h3.work-caption {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
      }
      .work-description {
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
  .btn-container {
    text-align: center;
    a.btn {
      border-top: none;
      text-align: center;
      padding: 15px 20px;
      span {
        vertical-align: middle;
      }
      .fa {
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }
}

.work-popap-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  h2, p {
    display: inline-block;
    padding: 0 20px;
  }
}

.services {
  #s-tabs {
    .nav-tabs
    {
      display: table;
      width: 100%;
      padding: 0;
      text-align: center;
      margin: 70px 0 0;
      li {
        position: relative;
        display: table-cell;
        list-style-type: none;
        vertical-align: middle;
        width: unquote((100 / 6)+'%');
        font-size: 14px;
        padding: 18px 30px;
        font-weight: 500;
        cursor: pointer;
        &+li {
          border-left: none;
        }
        &.active:before {
          content: '';
          position: absolute;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
          bottom: -10px;
          left: calc(50% - 10px);
        }
      }
    }
    .tabs-content {
      margin-top: 20px;
      img {
        float: left;
        margin-right: 15px;
        width: unquote((100 / 6)+'%');
      }
      P {
        font-size: 14px;
      }
    }
  }
}

.purchase {
  //background: url("../img/p-parallax.jpg") no-repeat center center;
  padding: 0;
  .container-parallax {
    padding: $section-padding 0;
    text-align: center;
    h2 {
      font-size: 40px;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      font-size: 16px;
    }
  }
}

.breaking-news {
  h1 {
    margin-bottom: 40px;
  }
  .news-item {
    margin-top: 30px;
   .desc {
     padding: 10px 15px;
     a {
       text-decoration: none;
       outline: none;
     }
     h4 {
       margin: 0 0 7px;
       font-size: 18px;
       a {
         @include transition(.15s color linear);
       }
     }
     p {
       margin: 0;
       font-size: 14px;
     }
   }
    .date {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 20px;
      text-align: center;
      @include transition(.15s background-color linear);
    }
  }
}

.news-popap-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  h2, p {
    display: inline-block;
    padding: 0 20px;
  }
}

.main-footer {
  padding: $section-padding 0 0;
  h1, h2 {
    text-transform: uppercase;
    margin-top: 0;
    line-height: 1;
  }
  h1 {
    letter-spacing: 2px;
  }
  h2 {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 35px;
  }
  p {
    font-size: 14px;
  }
  .posts {
    .post {
      padding: 22px 0 18px 0;
      &:first-of-type {
        padding-top: 0;
      }
      img {
        width: 20%;
        float: left;
        margin-right: 10px;
      }
      .desc {
        width: calc(80% - 10px);
        float: right;
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-size: 15px;
        }
        p {
          margin: 5px 0 0;
        }
        .post-date {
          display: block;
          font-size: 14px;
          margin-top: 8px;
        }
      }
    }
  }
  .tags {
    a {
      display: inline-block;
      padding: 7px 12px;
      margin-bottom: 10px;
      border-radius: 3px;
      margin-right: 5px;
      text-decoration: none;
    }
  }
  .newsletter {
    margin-top: 22px;
    padding-top: 18px;
    form {
      input {
        border: none;
        padding: 10px;
        color: #FFFFFF;
        outline: none;
      }
    }
  }
  .flicke {
    img {
      float: left;
      width: calc(50% - 5px);
      margin-bottom: 15px;
      &:nth-child(even){
        margin-right: 10px;
      }
    }
  }
  .copyright {
    text-align: center;
    p {
      margin: $section-padding 0 0;
      padding: 20px 0;
    }
  }
}

@import "media";