@import "../../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../common/var";

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
  /**/
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  .options {
    ul {
      .option {
        display: inline-block;
        width: unquote((100 / $col-options-md)+'%');
        text-align: center;
        padding: 80px 0;
      }
    }
  }

  .about-company {
    h1 {
      display: block;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  section {
    padding: $section-padding-small 0;
    h1 {
      font-size: 24px;
    }
  }
  .options {
    ul {
      .option {
        display: block;
        width: 100%;
        text-align: center;
        padding: 80px 0;
      }
    }
  }

  .about-company {
    #a-tabs {
      .nav-tabs {
        text-align: center;
        li {
          display: block;
          & + li {
            margin-left: 0;
          }
        }
      }
      .tabs-content {
        margin-top: 30px;
      }
    }
  }

  .amazing-work {
    .w-nav-tabs {
      li {
        display: block;
        border-top: none;
        & + li {
          border-top: none;
        }
      }
    }
  }

  .services {
    #s-tabs {
      .nav-tabs
      {
        display: block;
        li {
          display: block;
          width: 100%;
          &+li {
            border-top: none;
            border-left: 1px solid #e0e0e0;
          }
        }
      }
      .tabs-content {
        img {
          float: none;
          margin-right: 0;
          margin-bottom: 5px;
          width: 100%;
        }
      }
    }
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
  /**/
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
  /**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
  /**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  /**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  /**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  /**/
}